<?xml version='1.0' encoding='UTF-8'?>
<settings xsi:noNamespaceSchemaLocation="settings.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" ver="2.13.0">
 <server ipListen="127.0.0.1" port="502" maxNumConn="10">
  <allowedIP firstIP="127.0.0.1"/>
 </server>
 <client samplingRate="500" samplingIdle="5000" repeat="2" timeOut="100"/>
 <dbsrv passwd="" ipaddr="127.0.0.1" base="dgserver" port="3306" user="root" type="NONE" histdata="0"/>
</settings>
